# Build Output
/build*/
!/BuildSystem/
**/bin/
bin-int/
obj/
Intermediates/
Binaries

# Executables
*.exe
Vanta-Editor
Vanta-Editor.exe

# IDE Files
.vs/
out/
.vscode/
.idea/
*.sln
*.vcxproj*
*.user

# LFS Folders
lfs/
hooks/

# Meta Files
**.meta