# Binaries
**/bin/
!vendor/bin/premake/
!Zenith/vendor/assimp/bin
bin-int/
obj/
Zenith/vendor/VulkanSDK
Intermediates/
Binaries
__pycache__

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.user

.idea/
Makefile
*.make
*.a

# LFS Folders
lfs/
hooks/

# Log files
**.log

# Zenith-Editor Folders
Zenith-Editor/Captures/